* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-color: #032B2B;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  nav {
    background: #032B2B;
    height: 100px;
    width: 100%;
  }
  
  #saikatLogo {
    width: 210px;
    padding: 25px 0 30px 30px;
  }
  
  nav ul {
    float: right;
    margin-right: 30px;
    margin-top: 20px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul li a {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    padding: 25px 0 0 30px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  a.active,
  a:hover {
    transition: .5s;
    color: #F6977F;
  }
  
  .navBtn {
    align-items: center;
    padding: 8px 6px;
    background-color: #F6977F;
  }
  
  .navBtn:hover {
    background-color: #ffff;
  }
  
  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  /* Banner Section Hero Image */
  header {
  
    width: 100%;
    position: relative;
    background-image: url(instrumentBanner.jpg);
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #banner h1 {
    position: absolute;
    background: none;
    top: 290px;
    left: 40px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    letter-spacing: 0.001em;
    font-weight: 200;
    font-size: 68px;
    text-shadow: 2px 2px 2px rgba(40, 40, 90, 0.9),
      0px 0px 30px #fff;
  
  }
  
  #banner h2 {
    position: absolute;
    background: none;
    top: 410px;
    left: 40px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 200;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .whoamIbtn {
    position: absolute;
    top: 490px;
    left: 40px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background: #F6977F;
    font-weight: 200;
    font-size: 14px;
    text-transform: none;
    padding: 18px 48px;
    border: 1px solid #fff;
    border-radius: 50px;
  }
  
  .whoamIbtn:hover {
    background-color: #fff;
  }
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    padding-top: 100px !important;
  }
  
  section.instrument {
    margin-bottom: 2rem;
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
  }
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.2rem;
    color: #fff;
  }
  
  img {
    
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
  }
  footer.footer {
    padding: 30px 0 !important;
}
  #content>* {
  
    padding: 0;
  }
  
  #content {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(90px, auto);
  
  
    grid-template-areas:
      "header header header header"
      "header header header header"
      "header header header header"
      "header header header header"
      "header header header header"
      "header header header header"
      "header header header header"
      "main main main main"
      "iframe iframe titleid titleid"
      "titleid1 titleid1 iframe1 iframe1"
  
      "container2 container2 container2 container2"
      "art art art2 art2"
      "footer footer footer footer"
  }
  
  header {
    grid-area: header;
  }
  
  main {
    grid-area: main;
  }
  
  aside {
    grid-area: aside;
  
  }
  
  #iframe {
    grid-area: iframe;
  
  }
  
  #titleid {
    grid-area: titleid;
  }
  
  #iframe1 {
    grid-area: iframe1;
    padding: 0px 90px 0px 0px;
    margin: 0px 190px 0px -50px;
  }
  
  #titleid1 {
    grid-area: titleid1;
  }
  
  .art {
    grid-area: art;
  
  }
  
  .art2 {
    grid-area: art2;
  }
  
  .container2 {
    grid-area: container2;
  }
  
  footer {
    grid-area: footer;
  }
  
  h1 {
    margin: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .service-item {
    margin-bottom: 30px;
  }
  
  .service-item h3 {
    margin: 0;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
  }
  
  .service-item p {
    margin: 0;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
  }
  
  .service-item .service-image {
    margin-bottom: 10px;
  }
  
  .service-item .service-image img {
    max-width: 100%;
  }
  
  table {
    width: 60%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    margin-bottom: 60px;
  }
  
  tr {
    border: 1px solid #fff;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  thead {
    background-color: #f9f9f9;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .container2 {
    width: 600px;
    margin: 0 auto;
    padding: 100px 0 80px 0;
  }
  
  h2 {
    text-align: center;
    color: #fff;
  }
  
  form {
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  
  label {
    margin-top: 10px;
    color: #fff;
  }
  
  input,
  textarea {
    padding: 8px;
    margin-top: 5px;
    color: #fff;
    border: 1px solid #fff;
  }
  
  input[type="submit"] {
    margin-top: 15px;
    background-color: #F6977F;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #F6977F;
  }
  
  .footer {
    background-color: #F6977F;
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: transparent;
  }
  
  .footer-section {
    flex-basis: 50%;
    margin-bottom: 20px;
    background-color: transparent;
  }
  
  .footer-section h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    background-color: transparent;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
    background-color: transparent;
  }
  
  .footer-section ul li a {
    background-color: transparent;
    color: #fff;
  }
  
  .footer-social {
    flex-basis: 100%;
    background-color: transparent;
  }
  
  .footer-social h3 {
    background-color: transparent;
  }
  
  .footer-social ul {
    list-style: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .footer-social ul li {
    margin: 0 10px;
    background-color: transparent;
  }
  
  .footer-social ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    background-color: transparent;
  }
  
  .footer-social ul li a i {
    background-color: transparent;
    padding: 10px 0;
  }
  
  .footer-credits {
    flex-basis: 100%;
    font-size: 14px;
    background-color: transparent;
  }
  
  @media (max-width: 952px) {
    label.logo {
      font-size: 30px;
      padding-left: 50px;
    }
  
    nav ul li a {
      font-size: 16px;
    }
  }
  
  @media (max-width: 858px) {
    .checkbtn {
      display: block;
    }
  
    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
  
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
  
    nav ul li a {
      font-size: 20px;
    }
  
    a:hover,
    a.active {
      background: none;
    }
  
    #check:checked~ul {
      left: 0;
    }
  }