* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  background-color: #032B2B;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
  background: #032B2B;
  height: 100px;
  width: 100%;
}

#saikatLogo {
  width: 210px;
  padding: 25px 0 30px 30px;
}

nav ul {
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
  padding: 25px 0 0 30px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  transition: .5s;
  color: #F6977F;
}

.navBtn {
  align-items: center;
  padding: 8px 6px;
  background-color: #F6977F;
}

.navBtn:hover {
  background-color: #ffff;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* Banner Section Hero Image */
header {

  width: 100%;
  position: relative;
  background-image: url(banner.jpg);
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
}

#banner h1 {
  position: absolute;
  background: none;
  top: 290px;
  left: 40px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  letter-spacing: 0.001em;
  font-weight: 200;
  font-size: 68px;
  text-shadow: 2px 2px 2px rgba(40, 40, 90, 0.9),
    0px 0px 30px #fff;

}

#banner h2 {
  position: absolute;
  background: none;
  top: 410px;
  left: 40px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-weight: 200;
  font-size: 20px;
  text-transform: uppercase;
}

.whoamIbtn {
  position: absolute;
  top: 490px;
  left: 40px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  background: #F6977F;
  font-weight: 200;
  font-size: 14px;
  text-transform: none;
  padding: 18px 48px;
  border: 1px solid #fff;
  border-radius: 50px;
}
.whoamIbtn:hover{
  background-color: #fff;
}

#curve {
  position: absolute;
  top: 610px;
  width: 100%;
  height: auto;
}

#whoami {
  position: relative;
}


#whoami h1 {
  padding: 180px 0px 30px 170px;
  font-size: 60px;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  z-index: 2;



}

#whoami h1:after {
  content: "hi";
  color: #fff;
  z-index: -1;
  border-bottom: 1.5px solid #fff;
  position: absolute;
  left: 172px;
  top: 180px;
}

#whoami span {
  /*position: absolute;
    top: 390px;
    left: 200px;*/
  padding: 30px 0px 30px 170px;
  font-size: 20px;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

#whoami p {
  /*position: absolute;
    top: 450px;
    left: 200px;*/
  padding: 30px 0px 30px 170px;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #fff;
  line-height: 28px;
  overflow: hidden;

}

#whoami img {
  /*position: absolute;
    top: 650px;
    left: 200px;*/
  padding: 30px 0px 30px 170px;
}

.classwhoamibtn {
  position: absolute;
  top: 500px;
  left: 170px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  background-color: #F6977F;
  font-weight: 500;
  font-size: 13px;
  text-transform: none;
  padding: 20px 50px;
  border: 1px solid #F6977F;
  border-radius: 50px;
}
.classwhoamibtn:hover{
  background-color: #fff;
}
.classwhoamibtn i {
  margin-left: 5px;
  background-color: transparent;
}

.right {
  padding: 180px 0px 30px 100px;
}

iframe {
  /*position: absolute;
    top: 1200px;
    left: 200px;*/
  margin-left: 110px;
  margin-top: 150px;
  width: 640px;
  height: 360px;

}
#titleid{
	position: relative;
}
#titleid1{
	position: relative;
}
.title1 h1{
	padding: 170px 0px 30px 140px;
	font-size: 52px;
  color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 100;
}
.title1 h1:after{
	content: "hi";
	color: #fff;
	z-index: -1;
	border-bottom: 1.5px solid #000;
	position: absolute;
	left: 130px;
	top: 180px;
}
.title1 p{
	/*position: absolute;
	display: block;
	top: 1300px;
	right: 100px;left: 80px;
	right: 20px;*/
	
	margin-right: 100px;
  color: #fff;
	padding-top: 10px; 
	padding-left: 130px;
	display: block;
	text-align: left;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	line-height: 28px;
	
	
}
.title1btn{
	position: absolute;
	/*top: 1430px;
	
	margin: 0;*/
	top: 450px;
	left: 130px; 
	font-family: 'Raleway', sans-serif;
	color: #fff;
	background-color: #F6977F;
	font-weight: 500;
	font-size: 13px;
	text-transform: uppercase;
	padding: 20px 35px;
	border: 1px solid #F6977F;
	border-radius: 50px;
}
.title1btn:hover{
  background-color: #fff;
}
.title h1{
	/*position: absolute;
	display: block;
	top: 1200px;
	right: 200px;*/
	padding: 170px 0px 30px 130px;
	font-size: 52px;
  color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 100;
}
.title h1:after{
	content: "hi";
	color: #fff;
	z-index: -1;
	border-bottom: 1.5px solid #000;
	position: absolute;
	left: 130px;
	top: 180px;
}
.title p{
	/*position: absolute;
	display: block;
	top: 1300px;
	right: 100px;left: 80px;
	right: 20px;*/
	
	margin-right: 100px;
	padding-top: 10px; 
	padding-left: 130px;
  color: #fff;
	display: block;
	text-align: left;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	line-height: 28px;
	
	
}
.titlebtn{
	position: absolute;
	/*top: 1430px;
	
	margin: 0;*/
	top: 400px;
	left: 130px; 
	font-family: 'Raleway', sans-serif;
	color: #fff;
	background-color: #F6977F;
	font-weight: 500;
	font-size: 13px;
	text-transform: uppercase;
	padding: 20px 35px;
	border: 1px solid #F6977F;
	border-radius: 50px;
}
.titlebtn:hover{
  background-color: #fff;
}
i.fab.fa-youtube {
  background: transparent;
  padding-left: 4px;
}
.container{
	position: relative;
  color: #fff;
	font-family: 'Josefin Sans', sans-serif;
}
#fan{
	/*position: absolute;
	
	top: 1700px;
	right: 200px;
	left: 600px;*/
	display: block;
	text-align: center;
	margin-top: 180px;
	padding-bottom: 30px;
	font-size: 68px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 100;
}
#fan:after{
	content: "hii!";
	color: #fff;
	z-index: -1;
	border-bottom: 1.5px solid #000;
	position: absolute;
	left: 720px;
	right: 715px;
	align-items: center !important;	
}
.Tithi{
	/*position: absolute;left: 620px;
	top: 1830px;*/
	font-family: 'Raleway', sans-serif;
	display: block;
	text-align: center;
	font-weight: 500;

}
 
.art{
	/*position: absolute;
	top: 1900px;
	left: 220px;
	right: 600px;*/
	margin-left: 25%;
	margin-right: 100px;
	margin-top: 50px;
	margin-bottom: 200px;
	

	
}
.art2{
	/*position: absolute;
	top: 1900px;
	right: 220px;*/
	
	margin-right: 25%;
	margin-left: 100px;
	margin-top: 50px;
	margin-bottom: 200px;


}

#content > * {

  padding: 0;
}

#content {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(90px, auto);


  grid-template-areas:
    "header header header header"
    "header header header header"
    "header header header header"
    "header header header header"
    "header header header header"
    "header header header header"
    "header header header header"
    "main main aside aside"
    "iframe iframe titleid titleid"
    "titleid1 titleid1 iframe1 iframe1"
    
    "container container container container"
    "art art art2 art2"
    "footer footer footer footer"
    /* "copyright copyright copyright copyright"
    "chandrima chandrima chandrima chandrima";  */
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;

}

#iframe {
  grid-area: iframe;

}

#titleid {
  grid-area: titleid;
}

#iframe1 {
  grid-area: iframe1;
  padding: 0px 90px 0px 0px;
  margin: 0px 190px 0px -50px;
}

#titleid1 {
  grid-area: titleid1;
}
.art{
	grid-area: art;
	
}
.art2{
	grid-area: art2;
}
.container{
	grid-area: container;
}
footer{
  grid-area: footer;
}
.footer {
  background-color: #F6977F;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: transparent;
}

.footer-section {
  flex-basis: 50%;
  margin-bottom: 20px;
  background-color: transparent;
}

.footer-section h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: transparent;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.footer-section ul li {
  margin-bottom: 10px;
  background-color: transparent;
}
.footer-section ul li a {
  background-color: transparent;
  color: #fff;
}
.footer-social {
  flex-basis: 100%;
  background-color: transparent;
}
.footer-social h3 {
  background-color: transparent;
}
.footer-social ul {
  list-style: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.footer-social ul li {
  margin: 0 10px;
  background-color: transparent;
}

.footer-social ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  background-color: transparent;
}
.footer-social ul li a i {
  background-color: transparent;
  padding: 10px 0;
}

.footer-credits {
  flex-basis: 100%;
  font-size: 14px;
  background-color: transparent;
}



@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
  }

  #check:checked~ul {
    left: 0;
  }
}